.heading{
    color:green;
}.img-style{
    width:190px;
}
.outer-div{
    width:200px;
    border:1px solid rgb(182, 174, 174);
    box-shadow: 1px 2px 3px 0px #be373775;
    margin: 5px;
    text-align: center;
    padding-top: 5px;
}
.text-wrap{
    padding:5px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}