/* .heading{
    color:green;
}
.outerDiv{
    width: 200px;
    margin:10px;
    border:1px solid #cccccc75;
    box-shadow: 1px 2px 3px 1px #a78080;
    text-align: center;
}
.imgWidth{
    width:190px;
} */